/* .edit-profile-form {
  padding: 10px;
}

.reset-password-btn-container {
  display: flex;
  justify-content: start;
  margin: 10px 20px;
}

.edit-btn {
  display: flex;
  justify-content: end;
  margin: 10px 20px;
} */
