.departments-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 50px;
  height: 100vh;
  box-sizing: border-box;
}

.departments-item {
  background-color: #18bcfc;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.departments-item:hover {
  transform: scale(1.03);
  background-color: #18bbfc;
}

.departments-item h1 {
  font-size: 25px;
  margin: 5px;
}

.departments-item p {
  text-align: justify;
  margin: 5px;
  font-size: 18px;
}

.departments-item img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .departments-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
  }

  .departments-item {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .departments-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .departments-item {
    padding: 10px;
  }

  .departments-item h1 {
    font-size: 20px;
  }

  .departments-item p {
    font-size: 16px;
  }
}
