.locations-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 50px;
  height: 100vh;
  box-sizing: border-box;
}

.location-item {
  background-color: #18bcfc;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.location-item:hover {
  transform: scale(1.03);
  background-color: #18bbfc;
}

.location-item p {
  font-size: 18px;
}

@media (max-width: 1024px) {
  .locations-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .locations-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .location-item {
    padding: 15px;
  }

  .location-item p {
    font-size: 16px;
  }
}
