.doctor-forgot-password {
  width: 50%;
  margin: 150px auto;
  border: 2px solid #18bcfc;
  border-radius: 10px;
}

.doctor-forgot-password .btn-container {
  display: flex;
  justify-content: end;
}
